/* PARAGRAPHS */
figure {

}

figure.image-left {
  float: left;
  padding: 1%;
}

figure.image-right {
  float: right;
  padding: 1%;
}

figure img {
  display: block;
  margin: 0 auto;
}

figcaption {
  text-align: center;
  font-style: italic;
  font-size: 1.25em;
  font-weight: bold;
  color: black;
}
