/**
 * @file
 * Tablet styling.
 */

@import "_variables.scss";

/**
 * Font icons.
 */
@include font-face('fontello', font-files('fontello/font/fontello.eot', 'fontello/font/fontello.woff', 'fontello/font/fontello.ttf', 'fontello/font/fontello.svg'), 'fontello/font/fontello.eot');
.icon-twitter { @include icon('t'); }
.icon-menu { @include icon('m'); }
.icon-phone { @include icon('p'); }
.icon-facebook { @include icon('f'); }
.icon-rss { @include icon('r'); }
.icon-top { @include icon('o'); }
.icon-globe { @include icon('$'); }
.icon-sun { @include icon('.'); }
.icon-star { @include icon('/'); }
.icon-star-empty { @include icon('0'); }
.icon-youtube { @include icon('y'); }
.icon-three-menu { @include icon('!'); }
.icon-search { @include icon('s'); }

@media #{$mobile} {
  #header {
    #header-right-region {
      #block-search-form {
        width: calc(100% - 200px);

        form {
          .form-type-textfield input {
            border: none;
            height: 33px;
          }
        }
      }

      #search-block-form {
        border: none;
      }

      form input[type="submit"] {
        background-color: $orange;
        padding: 0 8px;
      }
    }

    #header-left-region {
      width: calc(100% - 95px);
    }
  }

  #header-top {
    display: none;
  }

  #header-inner {
    height: 65px;
  }

  #header-bottom {
    height: 0;
  }

  #logo {
    background-color: #050;
    display: block;
    position: relative;
    width: 100%;

    img {
      display: block;
      height: 37px;
      margin: 15px auto 0;
      max-width: 90%;
      position: relative;
      width: auto;
    }
  }


  .main-menu-open {
    #upper-page {
      left: 275px;
    }

    .menu-hamburger {
      border-bottom: none;
      padding-left: 0;
    }
  }

  #main-inner-wrapper {
    margin-top: 0;
  }

  #main-menu-mobile-wrapper {
    width: 275px;

    h1 {
      padding-bottom: 11px;
      padding-top: 11px;
    }
  }

  .menu-hamburger {
    background-color: transparent;
    border-bottom: 0;
    padding: 24px 0 19px 18px;
    position: absolute;
    top: -5px;
    width: 65px;

    &:hover {
      border-bottom: 0;
    }
  }

  .menu-block-2.menu-name-main-menu > ul.menu > li > a {
    font-size: 12px;
    padding: 0 0 0 15px !important;
  }

  .menu-block-2.menu-name-main-menu > ul.menu > li > ul.menu li a {
    font-size: 12px;
  }

  #block-search-form {
    left: 80px;
    position: absolute;
    top: -85px;

    @include transition(all 350ms ease-in);
  }

  #search-icon {
    display: block;
    font-size: 27px;
    height: 33px;
    padding: 5px 0px 0 5px;
    width: 33px;
  }

  // Homepage main tasks blocks
  #block-block-13 {

    .homepage-main-task-block {
        width: 48%;
    }
  }

  // I'd like to dropdown
  .ilt-dropdown {
    padding: 2%;
  }

  .view-pikes-peak-cameras {
    height: 28em;
  }

  #sidebar-first {
    // Inline Styling.
    height: auto !important;
  }

  body.front #sidebar-first-inner {
    padding: 20px;
  }

  #sidebar-first-inner {
    width: calc(100% - 40px);
  }

  .view-id-slider {
    .views-slideshow-pager-fields {
      .views-slideshow-pager-field-item {
        height: 32px;
        margin: 0 5px;
        width: 32px;

        .views-field-title {
          height: 26px;
          width: 26px;
        }
      }
    }
  }

  #widget_pager_top_slider-block {
    width: 300px;
  }

  body.front #content #block-views-department_views-promoted_news,
  body.front #content #block-views-department_calendar-block_2,
  body.front #content #block-views-calendar-block_2,
  body.front #content #block-views-99bc4d3a48011145e9c217f98a52e149 {
    .block-title {
      font-size: 20px;
    }
  }

  #block-menu_block-1 {
    ul.menu li.depth-1 > a {
      padding: 0 !important;

      .link-wrapper {
        padding: 12px 40px 8px;
      }
    }

    ul.menu li.depth-2 > a {
      .link-wrapper {
        padding-left: 40px;
      }
    }

    ul.menu li.depth-1 > a:hover,
    ul.menu li.depth-2 > a:hover {
      background: transparent url("../images/icons/nav_open_hover.png") no-repeat scroll 97% center;
    }
  }

  #block-menu_block-2 {
    padding: 5px;
    width: calc(100% - 10px);
  }

  #highlighted-full #block-views-master_term_nav-block_2 .view-master-term-nav .field-content a {
    font-size: 100%;
  }

  #highlighted-full #block-views-master_term_nav-block_2 .views-row,
  #highlighted-full #block-views-master_term_nav-block_3 .views-row {
    width: 100%;
  }

  .node-webform .form-item {
    width: 100%;
  }

  #sidebar-first .block-cos-subscriptions input.form-text,
  input[type="text"],
  form .form-item input.form-text,
  form .form-item textarea,
  textarea {
    width: 100%;
  }

  .view-pikes-peak-cameras {
    .attachment-after {
      margin-top: 50px;
    }
  }

  #boxes-box-footer_departments {
    a {
      display: block;
      line-height: 0.5;
      margin-bottom: 0;
    }
  }

  #boxes-box-footer_logo {
    p {
      font-size: 14px;
    }
  }

  // Overriding old retina code.
  html.backgroundsize body.html a#logo {
    background: none !important;
  }
  html.backgroundsize body.html a#logo img {
    visibility: initial;
  }
}
