/* Use this stylesheet for print styles only. */
* {
  background-color: transparent;
  color: black;
}

.sidebar,
#header,
#navigation,
#header-top,
#header-bottom,
#header-region,
#header-under,
#search-theme-form,
#block-boxes-not_looking_for,
#footer,
.breadcrumb,
.tabs,
.feed-icon,
.links {
  display: none;
}

#page {
  width: 100%;
}

#main-inner-wrapper {
  box-shadow: none;
}
#main-inner-inner-wrapper {
  right: 960px;
}

#content,
#content #content-inner,
.content,
.title {
  margin: 0;
  width: 100%;
}

a {
  &:hover,
  &:active,
  &:link,
  &:visited {
    color: darkblue;
    text-decoration: underline;
  }
}

.event-summary {
  border: none;
}

.embedded-video {
  &:after {
    content: "Video may be found online at ColoradoSprings.gov";
    color: gray;
    font-size: 0.8em;
    font-style: italic;
    margin-left: 20px;
  }

  .player {
    display: none !important;
  }
}

/* CSS2 selector to add visible href after links. */
#content a {
  &:link:after, &:visited:after {
    content: "(" attr(href) ")";
    color: blue;
    text-decoration: underline;
    font-style: italic;
    font-size: 0.7em;
    font-weight: normal;
    margin-left: 5px;
  }
}
