@import "_config.scss";

// Fonts
@import url(https://fonts.googleapis.com/css?family=Merriweather:300,400,700,400italic,700italic|Open+Sans:400,700,300italic,400italic,700italic);

/* Font styles. */
body {
  margin: 0;
  /* Setting up font size, leading and font family
   * http://www.markboulton.co.uk/journal/comments/five-simple-steps-to-better-typography */
  font: $font_size unquote("/") 1.7em $main_font;
  letter-spacing: 0.01em;
  color: $text_black;
}

/* Links */
a {
  &:link, &:visited {
    color: $link_color;
    text-decoration: none;
  }
  .region.region-content &:visited {
    color: $link_color_visited;

    &:hover, &:active {
      color: $link_color_visited;
    }
  }
  &:hover, &:active {
    color: $link_color;
    text-decoration: underline;
  }
  word-break: break-word;
}

/* Titles. */
#site-name {
  font-size: 2.2em;
  line-height: 1.3em;
  font-weight: 300;
  padding: 0 0 0.5em;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.3em;
  font-family: $serif;
}

h1 {
  font-size: 48px;
  font-weight: 400;
  padding: 0 0 0.5em;
  margin: 0;
}

h2 {
  font-size: 1.8em;
  font-weight: 300;
}

h3 {
  font-size: 1.4em;
  margin-bottom: 1em;
}

h4 {
  font-size: 1.2em;
  margin-bottom: 0.8em;
}

h5 {
  font-size: 1.1em;
  font-weight: 600;
  margin-bottom: 0;
}

h6 {
  font-size: 1em;
  font-weight: bold;
}

/* Paragraph styles. */
p {
  margin: 0 0 1em 0;
}

/* List styles. */
ul, ol {
  margin-left: 0;
  padding-left: 0;
}

/* Table styles. */
table {
  width: 99%;
}

tr.even,
tr.odd {
  td {
    padding: 10px 5px;
  }
}

img {
  display: block;
}

/* Code. */
pre, code, tt {
  font: 1em "andale mono", "lucida console", monospace;
  line-height: 1.5;
}

pre {
  background-color: #efefef;
  display: block;
  padding: 5px;
  margin: 5px 0;
  border: 1px solid #aaaaaa;
}

/* List styles. */

ul, ol {
  list-style-position: inside;
  padding-left: 10px;
}

ul {
  list-style-type: disc;
  ul {
    list-style-type: circle;
    ul {
      list-style-type: square;
      ul {
        list-style-type: circle;
      }
    }
  }
}

ol {
  list-style-type: decimal;
  ol {
    list-style-type: lower-alpha;
    ol {
      list-style-type: lower-roman;
      ol { 
        list-style-type: decimal;
      }
    }
  }
}

/* Abbreviation. */
abbr {
  border-bottom: 1px dotted #666666;
  cursor: help;
  white-space: nowrap;
}


div.messages {
  @include drupal_messages_base;
  &, &.status {
    @include drupal_messages;
  }
  &.warning {
    @include drupal_messages($warning_bg, $warning_border);
  }
  &.error {
    @include drupal_messages($error_bg, $error_border);
  }
  &.info {
    @include drupal_messages($info_bg, $info_border);
  }
}

iframe {
  background: url(../images/ajax_loader_large_white.gif) center 200px no-repeat;
}

.ajax-progress {
  width: 0;
  position: relative;
  left: -20px;

  .throbber {
    background: url(../images/ajax_loader_small_white.gif) left top no-repeat;
    height: 16px;
    width: 16px;
    float: none;
    margin: 0 3px;
  }
  .message {
    display: none;
  }
}
html.js body {
  a.views-throbbing,
  span.views-throbbing,
  input.throbbing {
    background-image: url(../images/ajax_loader_small_white.gif);
    background-position: 95% center;
    background-repeat: no-repeat;
  }
  input[name='search_block_form'].throbbing {
    background-image: url(../images/ajax_loader_small_gray.gif);
  }
}
