/**
 * @file
 * Tablet styling.
 */

@import "_variables.scss";

/**
 * Font icons.
 */
@include font-face('fontello', font-files('fontello/font/fontello.eot', 'fontello/font/fontello.woff', 'fontello/font/fontello.ttf', 'fontello/font/fontello.svg'), 'fontello/font/fontello.eot');
.icon-twitter { @include icon('t'); }
.icon-menu { @include icon('m'); }
.icon-phone { @include icon('p'); }
.icon-facebook { @include icon('f'); }
.icon-rss { @include icon('r'); }
.icon-top { @include icon('o'); }
.icon-globe { @include icon('$'); }
.icon-sun { @include icon('.'); }
.icon-star { @include icon('/'); }
.icon-star-empty { @include icon('0'); }
.icon-youtube { @include icon('y'); }
.icon-three-menu { @include icon('!'); }
.icon-search { @include icon('s'); }

/**
 * Query for tablet sized devices.
 */
@media #{$tablet} {
  #header-bottom,
  #main,
  #main-inner,
  #header-inner,
  #nice-menu-1,
  #header-bottom-inner,
  .region-header-bottom,
  #header-top,
  #header-top-inner,
  #highlighted-inner,
  #footer-inner,
  #footer-bottom-inner,
  #highlighted-full-inner,
  body.no-sidebars #main-inner-wrapper,
  body.no-sidebars #content {
    width: 100%;
  }

  #footer-left,
  #footer-right,
  #block-menu-menu-footer-left,
  #block-menu-menu-footer-right,
  #block-block-11 {
    margin-bottom: 20px;
    text-align: center;
    width: 100%;

    ul {
      text-align: center;
    }
  }

  #header {
    padding: 0 20px;
    width: calc(100% - 40px);
  }

  #header-under,
  #header-bottom {
    height: auto;
  }

  #views_slideshow_cycle_teaser_section_slider-block {
    display: none;
  }

  #page {
    background: url('/sites/all/themes/custom/cos_custom/images/bg/bg_mobile_menu.png') repeat 0 0 #000;
    min-width: 320px;
    width: 100%;
  }

  #content {
    height: auto !important;
    width: calc(100% - 250px);
  }

  #footer-left img {
    margin: 0 auto;
  }

  #nice-menu-1 {
    display: block;
    padding: 10px 20px 20px;
    width: calc(100% - 40px);

    .block-inner,
    .content,
    .menu-block-wrapper {
      height: inherit;
      width: 100%;
    }

    li {
      background-color: transparent;
      float: none;
      margin-bottom: 15px;
      width: 100%;

      a {
        border-right: none;
        height: 60px !important;
        line-height: 60px !important;
        width: calc(100% - 40px);
      }

      &:first-child {
        margin-top: 13px;
      }
    }

    .link-wrapper {
      font-size: 16px;
      font-weight: bold;
      text-transform: uppercase;
    }

    li ul {
      border: none;
      margin-left: 10px;
      margin-top: 10px;
      padding: 0;
      position: relative;
      width: calc(100% - 10px);

      li {
        background-color: transparent;
        background-image: none;
        border: none;
        margin: 10px 0 0 0;
        position: relative;

        &:first-child {
          margin: 0;
        }

        a {
          color: $lt_blue;
          background-color: #fff;

          &:hover {
            background-color: $lt_blue;
            color: #fff;
          }
        }

        .submenu-toggle {
          background: #fff url("../images/icons/dd_arrow-global.png") no-repeat scroll center center;

          &:hover {
            background: url("../images/icons/dd_arrow-hover.png") no-repeat scroll center center $lt_blue;
          }
        }
      }

      ul {
        display: none;
        left: 0;
        margin-left: 0;
        padding-left: 10px;
        position: relative;

        li {
          background-color: #fff;
          margin-top: 10px;
        }

        a {
          height: auto !important;
          line-height: 25px !important;
          padding: 20px 0 20px 20px !important;
        }
      }
    }

    @include transition(left 350ms linear);
  }

  #header {
    background: #000 !important;
    height: 65px;
    padding: 0 20px 0 70px;

    #header-right-region{
      float: left;
      width: 80px;

      #block-search-form {
        margin-right: 20px;
        margin-top: 10px;
        width: 250px;

        form {
          opacity: 1;

          input[type="submit"] {
            padding: 0 10px;
          }

          .form-type-textfield input {
            width: 150px;
          }
        }
      }
    }

    #header-left-region {
      width: calc(100% - 95px);
    }
  }

  #header-top {
    display: none;
  }

  #header-inner {
    height: 65px;
  }

  #header-bottom {
    height: 0;
  }

  #logo img {
    height: 40px;
    margin: 13px auto 0;
    width: auto;
  }

  #main-inner-wrapper {
    margin-top: 0;
  }

  #main-menu-mobile-wrapper {
    width: 320px;

    h1 {
      padding-bottom: 11px;
      padding-top: 11px;
    }
  }

  .menu-hamburger {
    background-color: transparent;
    border-bottom: 0;
    padding: 25px 19px 18px;
    position: absolute;
    top: -5px;
    width: 65px;

    &:hover {
      border-bottom: 0;
    }
  }

  .search-open #block-search-form {
    top: -9px;
  }

  #block-menu-menu-offsite-links,
  #block-menu-menu-global-portal-links {
    ul.menu {
      padding: 0;
      width: 100%;

      li {
        list-style: outside none none;
        margin: 8px auto 0;
        width: 77%;
      }

      a {
        background-color: rgba(255, 255, 255, 0.20);
        border: 2px solid #fff;
        color: #fff;
        display: block;
        font-weight: bold;
        padding: 5px 20px 5px 20px;
        width: calc(100% - 40px);

        @include border-radius(5px);
      }
    }
  }

  #block-menu-menu-offsite-links {
    margin-top: 30px;
  }

  body.front #block-views-department_views-block_1,
  body.front #block-views-global_views-block_1 {
    text-align: center;

    .more-link {
      text-align: right;
    }
  }

  body.front #content #block-views-department_views-promoted_news,
  body.front #content #block-views-99bc4d3a48011145e9c217f98a52e149 {
    border: 1px solid #aaa;
    position: relative;

    .block-title {
      border-bottom: none !important;
      cursor: pointer;
      margin: 0;
      padding: 8px;

      &::after {
        color: $lt_blue;
        content: "+";
        cursor: pointer;
        display: block;
        font-size: 50px;
        height: 30px;
        padding: 12px;
        position: absolute;
        right: 0;
        top: -7px;
        width: 30px;
      }

      &.section-close::after {
        content: "+";
      }

      &.section-open::after {
        content: "-";
      }
    }

    .section-close ~ .content {
      display: none;
    }

    .section-open ~ .content {
      display: block;
    }

    .content {
      padding: 40px 10px 10px;
    }
  }

  body.front #content #block-views-department_calendar-block_2,
  body.front #content #block-views-global_calendar-block_2 {
    border: 1px solid #aaa;
    position: relative;

    .block-title {
      border-bottom: none !important;
      cursor: pointer;
      margin: 0;
      padding: 8px;

      &::after {
        color: $lt_blue;
        content: "+";
        cursor: pointer;
        display: block;
        font-size: 50px;
        height: 30px;
        padding: 12px;
        position: absolute;
        right: 0;
        top: -7px;
        width: 30px;
      }
    }

    .section-open::after {
      content: '-';
    }

    .content {
      display: none;
      padding: 40px 10px 10px;
    }
  }

  #upper-page {
    display: block;
    left: 0;
    position: relative;

    @include transition(all 350ms linear);
  }

  .menu-hamburger {
    display: block;
  }

  .main-menu-open {
    #main-menu-mobile-wrapper {
      left: 0;
      overflow: hidden;

      @include transition(all 350ms linear);
    }

    #upper-page {
      left: 320px;
      overflow: hidden;
    }

    #page_overlay {
      opacity: 0.7;
      z-index: 20;
    }

    .menu-hamburger {
      z-index: 25;
    }
  }

  #header-bottom-inner {
    .block {
      float: none;
    }
  }

  #nice-menu-1,
  .menu-block-2.menu-name-main-menu > ul.menu {

    &  > li {
      background: none;
      width: 100%;

      a {
        margin: 0;
        padding: 0 0 0 20px !important;
        width: calc(100% - 20px) !important;
      }

      span.submenu-toggle {
        border-bottom: none;
        border-left: 1px solid $lt_blue;
        border-right: none;
        border-top: none;
        height: 60px;
        right: 0;
        top: 0;
        width: 60px;
      }

      &.last span.submenu-toggle {
        right: 0;
      }
    }
  }

  #nice-menu-1 li ul,
  .menu-block-2.menu-name-main-menu > ul.menu > li > ul.menu {
    left: 0;
    position: relative;
    top: 0;
  }

  .view-id-slider,
  .flycos .view-id-department_views.view-display-id-department_slideshow {
    .views-slideshow-pager-fields {
      position: relative;

      .views-slideshow-pager-field-item {
        background: #fff;
        border: 3px solid $orange;
        display: inline-table;
        height: 50px;
        margin: 0 10px;
        width: 50px;

        &:hover {
          border: 3px solid darken($orange, 20%);
          background-color: #fff;

          .views-field-title {
            background-color: darken($orange, 20%);
          }
        }

        &.active {
          background-color: #fff;
          border: 3px solid darken($orange, 20%);

          .views-field-title {
            background-color: darken($orange, 20%);
          }

          &:hover {
            background-color: #fff;
            border: 3px solid darken($orange, 20%);
          }

          &:hover::after {
            display: none;
          }

          &::after {
            display: none;
          }
        }

        .views-content-title {
          visibility: hidden;
        }

        .views-field-title {
          background-color: $orange;
          height: 44px;
          margin: 3px;
          padding: 0;
          width: 44px;
        }
      }
    }

    .views-field-body {
      display: block;
      margin: 0 !important;
      padding: 10px 0 !important;
      position: relative;
      text-align: center;
      width: 100%;

      .slider-title {
        font-size: 1.2em !important;
      }

      .slider-body {
        display: none;
      }
    }

    .views-field-field-link-to {
      display: none;
    }

    .views-field-nid {
      display: none;
    }
  }

  #views_slideshow_cycle_div_slider-block_0 {
    height: auto !important;
  }

  #block-views-slider-block,
  .view-display-id-department_slideshow {
    .views-row-first {
    }

    .views-slideshow-controls-top {
      background: url('/sites/all/themes/custom/cos_custom/images/bg/bg_paper_texture.png') repeat 0 0 #ccc;
      overflow: visible;
      padding: 10px 20px;
    }
  }

  #widget_pager_top_slider-block {
    margin: 0 auto;
    text-align: center;
    width: 500px;
  }

  #highlighted #block-views-slider-block {
    width: 100%;
  }

  // Homepage i'd like to dropdown
  .ilt-dropdown {
    clear: both;
    font-size: 1.5em;
    margin-top: 2%;
    width: 99%;
  }

  #block-views-alerts-block {
    border-radius: 0;
    clear: both;
    background: red;
    padding: 0;
    margin: 0;
    width: 100%;

    .block-title {

    }

    .content {
      text-align: center;
      font-size: 1.25em;
      padding: 1%;

      &:hover {
        color: inherit;
        text-decoration: underline !important;
      }
    }
  }

  .view-id-slider,
  .view-display-id-department_slideshow,
  .view-display-id-global_slideshow {
    width: 100%;
    float: left;

    .views-slideshow-cycle-main-frame {
      width: 100% !important;
      height: inherit !important;
    }

    .views-slideshow-cycle-main-frame-row {
      height: auto !important;
      width: 100% !important;
    }

    .field-content {
      max-width: 100%;
      width: 100%;
    }

    .field-content img {
      max-width: 100%;
      width: 100%;
      height: auto;
      margin: 0;
      padding: 0;
    }
  }

  .view-pikes-peak-cameras {
     .views-slideshow-cycle-main-frame-row {
      // Overwrite JS size injections.
      height: 520px !important;
      width: 100% !important;
    }

    .views-slideshow-controls-bottom {
      margin-top: 100px;
      display: none;
    }

    .attachment-after {
      margin-top: 100px;
    }
  }

  input,
  select,
  button,
  textarea {
    max-width: 100%;
  }

  #block-cck_blocks-field_image img {
    height: auto;
    width: 100%;
  }
}

@media #{$tablet_small} {
  #header-right-region #block-search-form form .form-type-textfield input {
    width: 125px;
  }

  input[type="text"],
  input[type="textarea"],
  input[type="password"] {
    width: 98%;
  }

  #content {
    width: 100%;
  }

  #header {
    #header-right-region {
      #block-search-form {
        width: calc(100% - 200px);

        form {
          opacity: 1;

          .form-type-textfield input {
            border: none;
            height: 33px;
            width: calc(100% - 100px);
          }
        }
      }

      #search-block-form {
        border: none;
      }

      form input[type="submit"] {
        background-color: $orange;
        padding: 0 8px;
      }
    }

    #header-left-region {
      width: calc(100% - 95px);
    }
  }

  #nice-menu-2 {
    .submenu-toggle {
      background-image: url("../images/icons/nav_open_hover.png");
      background-position: center center;
      background-repeat: no-repeat;
      border-left: 1px solid #808083;
      cursor: pointer;
      text-decoration: none;
    }
  }

  #block-search-form {
    left: 80px;
    position: absolute;
    top: -85px;

    @include transition(all 350ms ease-in);
  }

  .search-open #block-search-form {
    top: 1px;
  }

  #search-icon {
    display: block;
    padding: 8px 4px 0px 8px;
  }

  #sidebar-first {
    // Remove JS added sidebar height.
    height: auto !important;
    width: 100%;
  }

  #sidebar-first-inner {
    margin: 0 auto;
    width: 50%;
  }

  #footer-right {
    #block-menu-menu-footer-left,
    #block-menu-menu-footer-right,
    #block-block-11,
    #block-twitter_block-1 {
      margin-bottom: 30px;
      width: 100%;
    }

    #block-menu-menu-footer-right {
      .boxes-box-content a {
        width: 100%;
      }

      p:last-child,
      .social-media {
        width: 100%;

        a {
          display: block;
          width: 100%;
        }

        img {
          // Inline styling.
          float: none !important;
          margin: 0 auto !important;
          width: auto !important;
        }
      }
    }
  }

  #block-delta_blocks-page-title,
  #block-views-master_term_nav-block_2,
  #block-views-master_term_nav-block_3 {
    margin-bottom: 20px;
    text-align: center;
    width: 100%;
  }

  .view-id-main_navigation.view-display-id-attachment_1 {
    table {
      display: table;

      td {
        display: block;
        position: relative;
        width: 100%;
      }
    }
  }

  #block-block-11 {
    float: none;
    width: 100%;

    p {
      text-align: center;
      width: 100%;
    }
    a {
      display: inline-block;
      float: none;
    }
  }
}
